@model List<ProjectChapeau.Models.Menu>

@{
    ViewData["Title"] = "Menu Overview";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    @{
        foreach (Menu menu in @Model)
        {
            <h2>@menu.MenuName</h2>
            foreach (MenuItem menuItem in menu.MenuItems)
            {
                <partial name="_MenuItemCard" model="menuItem"/>
            }
        }
    }
</div>