@model List<ProjectChapeau.Models.Menu>

@{
    ViewData["Title"] = "Menu Overview";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    @foreach (Menu menu in @Model)
    {
        <h2>@menu.MenuName</h2>
        <div class="container">
            <div class="row">
                @foreach (MenuItem menuItem in menu.MenuItems)
                {
                    <div class="col-md-3 mb-3" id="@menuItem.MenuItemId">
                        <partial name="_MenuItemCard" model="menuItem" />
                    </div>
                }
            </div>
        </div>
    }
</div>