@model ProjectChapeau.Models.ViewModel.MenuItemOverviewViewModel;

@{
    MenuItem? menuItem = Model.MenuItem;
    ViewData["Title"] = $"{@Model?.MenuItem?.ItemName}";
    bool userIsAuthenticated = User.Identity?.IsAuthenticated ?? false;
}
<h1>@menuItem?.ItemName</h1>
<h2>
    &euro;@menuItem?.Price
    @if (userIsAuthenticated)
    {
        <span> - @menuItem?.Stock left in stock</span>
    }
</h2>
@if (menuItem?.Category != null)
{
    <p>Category - @menuItem?.Category.CategoryName</p>
}
<p>@menuItem?.ItemDescription</p>
<img src="/img/menu-item/@menuItem?.ImageURL" class="img-fluid rounded" alt="@menuItem?.ItemName" />
<a href="/Order/Menu#@menuItem?.MenuItemId" class="btn btn-primary">
    Return to Menus
</a>