@model MenuItem

<div class="card h-100">
  <img src="/img/menu-item/@Model.ImageURL" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">@Model.ItemName</h5>
    <p class="card-text">&euro;@Model.Price - @Model.Stock left in stock</p>
  </div>
</div>