@model List<ProjectChapeau.Models.TableOrder>

@foreach (TableOrder tableOrder in Model)
{
    <div class="col-md-3 mb-4">
        <a href="/Tables/Edit/@tableOrder.tableId" style="text-decoration:none;">
        <div class="card h-100 shadow-sm border-0 @tableOrder.cardColor">
            <div class="card-body text-center">
                <h5 class="card-title">Table @tableOrder.tableId</h5>
                <p class="card-text">Status: <strong>@tableOrder.status</strong></p>
            </div>
        </div>
        </a>
    </div>
}