@using ProjectChapeau.Models.Enums
@model ProjectChapeau.Models.ViewModel.TableEditViewModel;

@{
    ViewData["Title"] = "Edit Table Information";
}

<h1>@ViewData["Title"]</h1>

<partial name="_ErrorMessage" />

<form asp-controller="Tables" asp-action="Edit" method="post" class="w-50 mx-auto">
    <input type="hidden" asp-for="Table.TableNumber" />
    <input type="hidden" asp-for="Order.OrderId" />

    <div class="mb-4">
        <label class="form-label d-block fw-semibold mb-2">Is Table Occupied?</label>

        <div class="btn-group" role="group" aria-label="Is Table Occupied">
            <input type="radio" asp-for="Table.IsOccupied" class="btn-check" id="IsOccupiedFalse" value="false" />
            <label class="btn btn-outline-success" for="IsOccupiedFalse">Free</label>

            <input type="radio" asp-for="Table.IsOccupied" class="btn-check" id="IsOccupiedTrue" value="true" />
            <label class="btn btn-outline-danger" for="IsOccupiedTrue">Occupied</label>
        </div>
    </div>

    <div class="mb-4">
        <label class="form-label d-block fw-semibold mb-2">Order Status</label>
        <div class="btn-group" role="group" aria-label="Order Status">
            @if (Model?.Order?.OrderStatus == null || Model?.Order?.OrderStatus == OrderStatus.Completed)
            {
                <p>No Active order, please create one first</p>
            }
            else
            {
                foreach (OrderStatus status in Model.OrderStatusOptions)
                {
                    string statusValue = status.ToString();
                    string isChecked = Model.Order.OrderStatus == status ? "checked" : "";

                    <input type="radio" asp-for="Order.OrderStatus" class="btn-check" id="orderStatus_@statusValue" value="@statusValue" />
                    <label class="btn btn-outline-primary" for="orderStatus_@statusValue">@statusValue</label>
                }
            }
        </div>
    </div>

    <div class="d-flex justify-content-center gap-3">
        <button type="submit" class="btn btn-primary px-4">Save Changes</button>
        <a href="/Tables/Index" class="btn btn-secondary px-4">Back to Tables</a>
    </div>
</form>
