@model ProjectChapeau.Models.ViewModel.EmployeeRoleModel;
@{
    ViewData["Title"] = "Create User";
}
<h1>@ViewData["Title"]</h1>

<partial name="_ErrorMessage" />

<h4>New User</h4>
<form asp-controller="Employee" asp-action="Create" method="post">
    <div class="mb-3">
        <label for="firstName" class="form-label">First Name</label>
        <input type="text" id="firstName" name="employee.firstName" class="form-control" placeholder="Employee's first name" required value="@Model?.employee.firstName" />
    </div>

    <div class="mb-3">
        <label for="lastName" class="form-label">Last Name</label>
        <input type="text" id="lastName" name="employee.lastName" class="form-control" placeholder="Employee's last name" required value="@Model?.employee.lastName" />
    </div>

    <div class="mb-3">
        <label for="userName" class="form-label">Username</label>
        <input type="text" id="userName" name="employee.userName" class="form-control" placeholder="Your username" required value="@Model?.employee.userName" />
    </div>

    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" id="password" name="employee.password" class="form-control" placeholder="Your password" required value="@Model?.employee.password" />
    </div>

    <div class="mb-3">
        <label class="form-label d-block">Is User Active?</label>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="employee.IsActive" id="IsActiveTrue" value="True" required />
            <label class="form-check-label" for="IsActiveTrue">True</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="employee.IsActive" id="IsActiveFalse" value="False" />
            <label class="form-check-label" for="IsActiveFalse">False</label>
        </div>
    </div>
    <div class="mb-3">
        <label for="Role" class="form-label">Role</label>
        <select id="Role" name="employee.role.roleId" class="form-select" required>
            <option value="">-- Select Role --</option>
            @foreach (Role role in Model.Roles)
            {
                <option value="@role.roleId">@role.roleName</option>
            }
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
    <a href="/Employee/Index" class="btn btn-secondary ms-2">Back to List</a>
</form>
